.chef {
    background-color: $holder-color;
    padding: 100px 0;
    &__image {
        max-width: 398px;
        max-height: 396px;
        margin: 0 auto 30px;
    }
    &__description {
        @include description-size($base-font, $light-font);
        line-height: 41px;
        color: $primary-color;
        margin-bottom: 30px;
    }
    &__paragraph {
        max-width: 939px;
        font-size: $paragraph-font;
        font-weight: $light-font;
        line-height: 41px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .chef {
        padding: 80px 0;
        &__image {
            max-width: 282px;
            max-height: 280px;
        }
        &__description {
            @include description-size($menu-font, $light-font);
            line-height: 28px;
        }
        &__paragraph {
            max-width: 691px;
            font-size: $menu-font;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .chef {
        padding: 70px 0;
        &__image {
            max-width: 251px;
            max-height: 249px;
            margin-bottom: 20px;
        }
        &__description {
            @include description-size($button-font, $light-font);
            line-height: 25px;
            margin-bottom: 20px;
        }
        &__paragraph {
            max-width: 626px;
            font-size: $button-font;
            line-height: 27px;
        }
    }
}

@media screen and (max-width: 700px) {
    .chef {
        padding: 50px 0;
        &__paragraph {
            max-width: 500px;
            font-size: $button-middle;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 550px) {
    .chef {
        padding: 40px 0;
        &__image {
            max-width: 231px;
            max-height: 229px;
        }
        &__paragraph {
            max-width: 350px;
            font-size: $cost-small;
            line-height: 17px;
        }
    }
}