/*цвет текста и фона*/

$base-color: #FFFFFF;
$primary-color: #474747;
$secondary-color: #B1B1B1;
$logo-color: #000;
$holder-color: #F3F7EA;
$contacts-color: #262626;
$menu-border-color: #D8D5D5;
$button-up-color:#FFAC1C;
$hot-color: #D33B3B;
$new-color:#B3E151;
$hit-color:#E5A434;

/*толщина шрифта*/

$light-font: 300;
$primary-font: 600;
$secondary-font: 700;

/*размеры шрифтов*/

$icon-small: .48rem;
$icon-font: .56rem;
$cost-small: .6rem;
$button-middle: .68rem;
$description-font: .72rem;
$button-font: .8rem;
$menu-font: .88rem;
$base-font: 1rem;
$paragraph-font: 1.2rem;
$list-font: 1.4rem;
$caption-font: 1.6rem;
$logo-font: 2rem;
$rest-font: 2.4rem;
$slogan-font: 2.6rem;
$title-font: 3.4rem;